.calls-table {
    padding-top: 1%;
}
.row {
    padding-top: 1%;
    padding-left: 0%;
    padding-right: 0%;
}
select {
    min-width: 100%;
    max-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

.checkbox-inline {
    align-content: right;
}

input.text {
    max-width: 100%;
    min-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}

label {
    align-content: right;
    padding-left: 0%;
    padding-right: 0%;
    }

.form-group {
    justify-content: left;
}

.call-panel {
    padding: 3% 3% 3% 3%;
}

.tracker-header {
	font-weight: 800;
	color: #333;
	text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #333;
    border-color: #333;
}

.btn-primary {
  color: #ffffff;
  background-color: #999;
  border-color: #999;
  padding: 1% 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.row a {
    margin-bottom: 0%;
    margin-top: 3%;
}

#messages {
    margin-top: 3%;
}

#callsTable td:hover {
    background-color: #ccc;
}

#onDutyTable td:hover {
    background-color: #ccc;
}

.panel-default {
    margin-top: 3%;
}

#addRemark {
    padding-left: 2%;
}

.tracker-header{
    margin-top: 0%;
    padding-top: 0%;
}

.filterContainer {
    align-content: center;
}

.centering {
  float:none;
  margin:0 auto;
}

.buttonGroupFilter{
    margin-left: 20%;
}